@(filter: String)
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/view-style.css")" type="text/css">
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")">
    </script>
    <title>View</title>
</head>

<body>
    <div id="top-bar">
        <img src="@routes.Assets.at("images/cms(small).png")" id="logo">
        <i class="fa fa-github fa-2x" id="git"></i>
        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="pure-menu pure-menu-open" id="sidebar">
            <ul id="host-list">
                <li class="host">
                    <a href="#">All Hosts</a>
                </li>
            </ul>
        </div>
        <div id="inner-content">
            <div id="tab-bar">
                <ul>
                    <li class="pure-button tabs">Summary</li>
                    <li class="pure-button tabs">Static Listing</li>
                    <li class="pure-button tabs">Network</li>
                    <li class="pure-button tabs">Monitoring</li>
                </ul>
            </div>
            <div id="list-area">
                <div id="button-bar">
                    <ul>
                        <li class="pure-button">
                            <i class="fa fa-play fa-2x"></i>
                        </li>
                        <li class="pure-button">
                            <i class="fa fa-pause fa-2x"></i>
                        </li>
                        <li class="pure-button">
                            <i class="fa fa-times-circle fa-2x" id="red"></i>
                        </li>
                        <li class="pure-button">
                            <i class="fa fa-plus fa-2x"></i>
                        </li>
                        <li class="pure-button">
                            <i class="fa fa-stop fa-2x"></i>
                        </li>
                        <li class="pure-button">
                            <i class="fa fa-refresh fa-2x"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var sel;
    var tabSel = "Summary";
    
    $.ajax ({
         url: "/list/host",
         type: "GET",
         dataType: 'json',
         success: function( json ) {
                var i = 0;
                var str = "";
                
                while(json[i++]){
                    str += "<li class=\"host\"><a href=\"#\">" + json[i-1] + "</a></li>";
                }
                
                $("#host-list").append(str);                
        },
         error: function( xhr, status ) {
            alert("sorry there was a problem!");
         },
    });
    
    $(".tabs").click( function (event) {
       tabSel = $(this).text();
    });
    
    $("#host-list").on( "click", ".host" , function( event ) {
        alert($(this).text() + tabSel);
    });
</script>

</html>
