@(domains : ArrayList[org.libvirt.Domain])
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
<table class="pure-table pure-table-bordered" style="left:150px; top:150px">
        <thead>
                <tr>
                        <td>Name</td>
                        <td>OS type</td>
                        <td>Memory</td>
                        <td>Vcpus</td>
                </tr>
        </thead>
        <tbody>
                @for(domain <- domains){
                <tr>
                        <td>@(domain.getName())</td>
                        <td>@(domain.getOSType())</td>
                        <td>@(domain.getMaxMemory())</td>
                        <td>@(domain.getInfo().nrVirtCpu)</td>
                </tr>}
        </tbody>
</table>