@(filter: String)
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/view-style.css")" type="text/css">
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
    <title>View</title>
</head>

<body>
    <div id="top-bar">
        <img src="@routes.Assets.at("images/cms.small.png")" id="logo">
        <i class="fa fa-github fa-2x" id="git"></i>
        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="sidebar">
            <ol id="selectable">
                <li class="ui-widget-content">ajinkya</li>
                <li class="ui-widget-content">swapnil</li>
            </ol>
        </div>
        <div id="inner-content">
            <ul class="tab-list">
                <li class="tabs"><a href="#summary">Summary</a></li>
                <li class="tabs"><a href="#static-list">Static Listing</a></li>
                <li class="tabs"><a href="#network">Network</a></li>
                <li class="tabs"><a href="#monitoring">Monitoring</a></li>
            </ul>
             <div id="button-bar">
                <i class="fa fa-play fa-2x icons"></i>
                <i class="fa fa-pause fa-2x icons"></i>
                <i class="fa fa-stop fa-2x icons"></i>
                <i class="fa fa-refresh fa-2x icons"></i>
                <i class="fa fa-times fa-2x icons"></i>
                <i class="fa fa-plus fa-2x icons"></i>
             </div>
             <div id="summary">
                 <table class="pure-table inner-table">
                     <tbody>
                         <tr>
                             <td>Model</td>
                         </tr>
                         <tr>
                             <td>Memory</td>
                         </tr>
                         <tr>
                             <td>Cpus</td>
                         </tr>
                         <tr>
                             <td>Speed</td>
                         </tr>
                         <tr>
                             <td>Nodes</td>
                         </tr>
                         <tr>
                             <td>Sockets</td>
                         </tr>
                         <tr>
                             <td>Cores</td>
                         </tr>
                         <tr>
                             <td>Threads</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div id="static-list">
                 <table class="pure-table inner-table">
                     <thead>
                         <tr>
                             <th>Id</th>
                             <th>Name</th>
                             <th>NoOfCpus</th>
                             <th>MaxMemory</th>
                         </tr>
                     </thead>
                     <tbody>  
                     </tbody>
                 </table>
             </div>
             <div id="network"></div>
             <div id="monitoring"></div>
        </div>
    </div>
</body>
<script src="@routes.Assets.at("javascripts/view.js")"></script>
</html>
