@(filter: String)
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/view-style.css")" type="text/css">
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
    <title>View</title>
</head>

<body>
    <div id="top-bar">
        <img src="@routes.Assets.at("images/cms.small.png")" id="logo">
        <a href="http://github.com/ajinkya4649/CMS_KVM/" target="_blank"><i class="fa fa-github fa-2x" id="git"></i></a>
        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="sidebar">
            <ol id="selectable" title="click to select (hold down CTRL for multi-select)">
            </ol>
        </div>
        <div id="inner-content">
            <div class="tab-area">
                <ul class="tab-list">
                    <li class="tab" id="tab-1"><a class="tab-text" href="#summary" title="host summary">Summary</a></li>
                    <li class="tab" id="tab-2"><a class="tab-text" href="#static-list" title="List all vm's of selected hosts">Static Listing</a></li>
                    <li class="tab" id="tab-3"><a class="tab-text" href="#network" title="list networks">Network</a></li>
                    <li class="tab" id="tab-4"><a class="tab-text" href="#monitoring" title="monitor vm's of selected hosts">Monitoring</a></li>
                </ul>
            </div>
             <div id="summary">
                 <div class="button-bar">
                         <i class="fa fa-refresh fa-2x icons"></i>
                 </div>
                 <table class="pure-table inner-table">
                     <tbody>
                         <tr>
                             <td>Model</td>
                         </tr>
                         <tr>
                             <td>Memory</td>
                         </tr>
                         <tr>
                             <td>Cpus</td>
                         </tr>
                         <tr>
                             <td>Speed</td>
                         </tr>
                         <tr>
                             <td>Nodes</td>
                         </tr>
                         <tr>
                             <td>Sockets</td>
                         </tr>
                         <tr>
                             <td>Cores</td>
                         </tr>
                         <tr>
                             <td>Threads</td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             <div id="static-list">
                 <div class="button-bar">
                    <i class="fa fa-play fa-2x icons" title="play vm"></i>
                    <i class="fa fa-pause fa-2x icons" title="pause vm"></i>
                    <i class="fa fa-stop fa-2x icons" title="shutoff vm"></i>
                    <i class="fa fa-refresh fa-2x icons" title="refresh list"></i>
                    <i class="fa fa-times fa-2x icons" title="destroy vm"></i>
                    <i class="fa fa-plus fa-2x icons" title="create vm"></i>
                 </div>
                 <table class="pure-table inner-table">
                     <thead>
                         <tr>
                             <th>Id</th>
                             <th>Name</th>
                             <th>NoOfCpus</th>
                             <th>MaxMemory</th>
                         </tr>
                     </thead>
                     <tbody>  
                     </tbody>
                 </table>
             </div>
             <div id="network">
                <div class="button-bar">
                    <i class="fa fa-play fa-2x icons"></i>
                    <i class="fa fa-pause fa-2x icons"></i>
                    <i class="fa fa-stop fa-2x icons"></i>
                    <i class="fa fa-refresh fa-2x icons"></i>
                    <i class="fa fa-times fa-2x icons"></i>
                    <i class="fa fa-plus fa-2x icons"></i>
                 </div>
             </div>
             <div id="monitoring">
                <div class="button-bar">
                    <i class="fa fa-play fa-2x icons"></i>
                    <i class="fa fa-pause fa-2x icons"></i>
                    <i class="fa fa-stop fa-2x icons"></i>
                    <i class="fa fa-refresh fa-2x icons"></i>
                    <i class="fa fa-times fa-2x icons"></i>
                    <i class="fa fa-plus fa-2x icons"></i>
                 </div>
             </div>
        </div>
    </div>
</body>
<script src="@routes.Assets.at("javascripts/view.js")"></script>
</html>
