    @(filter: String)
    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/view-style.css")" type="text/css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/qtip-min.css")" type="text/css">
        <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/circles.js")"></script>
        <script src="@routes.Assets.at("javascripts/jquery-ui.js")"></script>
        <script src="@routes.Assets.at("javascripts/highcharts.js")"></script>
        <script src="@routes.Assets.at("javascripts/qtip-min.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/create-css.css")">
        <title>CM Server</title>
        <script>
            $("tbody tr").on("click", function( event ) {
        console.log("row selected");
        $(".vm-row-selected").removeClass("vm-row-selected");
        $( this ).addClass("vm-row-selected");
    });
        </script>
    </head>

<body>
    <div id="top-bar">
        <img src="@routes.Assets.at("images/cms.small.png")" id="logo">
        <a href="http://github.com/ajinkya4649/CMS_KVM/" target="_blank"><i class="fa fa-github fa-2x" id="git"></i></a>
        <div class="pure-menu pure-menu-open pure-menu-horizontal" id="navbar">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="sidebar">
            <b style="padding: 5%;">KVM Hosts</b><i class="fa fa-refresh icons"></i>
            <ol id="selectable" title="click to select (hold down CTRL for multi-select)">
            </ol>
        </div>
        <div id="storage-bar">
            <b style="padding: 5%;">Disks</b><i class="fa fa-refresh icons"></i><i class="fa fa-plus icons"></i><i class="fa fa-times icons"></i>
            <ol class="storage-list">
            </ol>
        </div>
        <div id="inner-content">
            <div class="tab-area">
                <ul class="tab-list">
                    <li class="tab" id="tab-1"><a class="tab-text" href="#summary" title="host summary">HOSTs</a></li>
                    <li class="tab" id="tab-2"><a class="tab-text" href="#static-list" title="List all vm's of selected hosts">VMs</a></li>
                    <li class="tab" id="tab-3"><a class="tab-text" href="#network" title="list networks">NETWORKs</a></li>
                    <li class="tab" id="tab-4"><a class="tab-text" href="#monitoring" title="monitor vm's of selected hosts">MONITOR</a></li>
                </ul>
            </div>
            <div id="summary">
                <div class="button-bar">
                    <i class="fa fa-refresh fa-2x icons"></i>
                </div>
                <table class="inner-table">
                    <tbody>
                        <tr>
                            <td class="inner-table-header">Architecture</td>
                            <td class="inner-table-header">Memory</td>
                            <td class="inner-table-header">Cpus</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>3</td>
                            <td>d</td>
                        </tr>
                        <tr>
                            <td class="inner-table-header">Speed</td>
                            <td class="inner-table-header">Hypervisors</td>
                            <td class="inner-table-header">Sockets</td>
                        </tr>
                        <tr>
                            <td class="inner-table-header">Cores</td>
                            <td class="inner-table-header">Threads</td>
                            <td class="inner-table-header">Pools</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="static-list">
                <div class="button-bar">
                    <i class="fa fa-play fa-2x icons" title="play vm"></i>
                    <i class="fa fa-stop fa-2x icons" title="shutdown vm"></i>
                    <i class="fa fa-power-off fa-2x icons" title="poweroff vm"></i>
                    <i class="fa fa-refresh fa-2x icons" title="refresh list"></i>
                    <i class="fa fa-times fa-2x icons" title="destroy vm"></i>
                    <a href="#createVM">
                        <i class="fa fa-plus fa-2x icons" title="create vm"></i>
                    </a>
            
                </div>
                <table class="pure-table inner-table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Cores</th>
                            <th>Memory</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="network">
                <div class="button-bar">
                    <i class="fa fa-play fa-2x icons"></i>
                    <i class="fa fa-pause fa-2x icons"></i>
                    <i class="fa fa-stop fa-2x icons"></i>
                    <i class="fa fa-refresh fa-2x icons"></i>
                    <i class="fa fa-times fa-2x icons"></i>
                    <i class="fa fa-plus fa-2x icons"></i>
                </div>
            </div>
            <div id="monitoring">
                <div class="button-bar">
                    <i class="fa fa-play fa-2x icons"></i>
                    <i class="fa fa-pause fa-2x icons"></i>
                    <i class="fa fa-stop fa-2x icons"></i>
                    <i class="fa fa-refresh fa-2x icons"></i>
                    <i class="fa fa-times fa-2x icons"></i>
                    <i class="fa fa-plus fa-2x icons"></i>
                </div>
                <div id="container" style=""></div>
            </div>
        </div>
    </div>
 <div id="createVM" style="color:#669" class="modalDialog">
        <div>
            <a onclick="switch_tab(2)" href="#static-list" title="Close" class="close">X</a>


            <form id="vm-form" class="pure-form pure-form-aligned" >
                <fieldset>
                    <legend style="left:20px">
                        <div>
                        <div style="display:inline-block; margin-left:20px">
                        <h1 style="color:#669">Create VM</h1></div>
                        <div style="display:inline-block; margin-right:20px; float:right">
                        <img id="image" src="@routes.Assets.at("images/Netvibes.png")" width="80px" height="60px"></div></div>
                    </legend>
                     <div class="pure-control-group">
                            <label for="vm-name">VM Name</label>
                            <input id="vm-name" type="text" placeholder="VM Name" required>
                        </div>
                    <div class="pure-control-group">
                        <label for "vcpu">No. of Virtual CPUs:</label>

                        <select id="vcpu" name="vcpu" class="pure-input-1-2" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="pure-control-group">
                        <label for="ram">
                            RAM(in MB):</label>

                        <select id="ram" name="ram" class="pure-input-1-2" required>
                            <option value="1">512</option>
                            <option value="2">1024</option>
                            <option value="3">2048</option>
                            <option value="4">4096</option>
                        </select>
                    </div>
                    <div class="pure-control-group">
                        <label for="bootdev">Boot Device:</label>
                        <select id="bootdev" name="bootdev" class="pure-input-1-2" required>
                            <option value="1">CD-ROM</option>
                            <option value="2">Hard Disk</option>
                            <option value="3">Network Boot</option>

                        </select>

                    </div>
                    <div class="pure-control-group">
                        <label for="os">Select OS:</label>
                        <select id="os" name="os" class="pure-input-1-2" required>
                            <option value="1">windows</option>
                            <option value="2">ubuntu-13.10-desktop-amd64</option>
                            <option value="3">ubuntu-13.04-desktop-amd64</option>
                        </select>

                    </div>

                    <input id="submit-vm" type="submit" class="submit" text="Create"/>
                </fieldset>
            </form>
        </div>

    </div>
</body>
    <script src="@routes.Assets.at("javascripts/view.js")"></script>
    </html>
